@charset "utf-8";
/* CSS Document */
.adc-starratingList {
    -moz-user-select: none; 
	-webkit-user-select: none; 
	-ms-user-select:none; 
	user-select:none;
}
/* Statements */
.adc-starratingList .statement, 
.adc-starratingList .previousStatement,
.adc-starratingList .nextStatement
{   
    /* Element */
	display:block;
	margin:0 0 5px 0;
    vertical-align:middle;
	cursor:pointer;
	
	/* disable highlight text */
	-moz-user-select: none; 
	-webkit-user-select: none; 
	-ms-user-select:none; 
	user-select:none;
	
	position:relative;
}
.adc-starratingList .previousStatement span,
.adc-starratingList .nextStatement span 
{
    text-align:center;
}

.adc-starratingList .previousStatement span,
.adc-starratingList .nextStatement span,
.adc-starratingList .statement_text 
{ 
	display:block;
	padding:10px;
}
.adc-starratingList .statement { margin-bottom:10px; cursor:default; }
.adc-starratingList .statement img {
	float:left;
	display:inline-block; 
	margin:5px 20px 5px 5px;
}

.adc-starratingList .Btn { 
    /* Element */
	display:block;
	width:35px;
	margin:0 0 5px 0;
    vertical-align:middle;
	cursor:pointer;
	
	/* disable highlight text */
	-moz-user-select: none; 
	-webkit-user-select: none; 
	-ms-user-select:none; 
	user-select:none;
	
	position:relative;
}

.adc-starratingList .nextStatement .img { display:block; height:100%; width:100%; background:url(next.png) center left no-repeat; }
.adc-starratingList .previousStatement .img { display:block; height:100%; width:100%; background:url(prev.png) center left no-repeat; }

.adc-starratingList .star, .adc-starratingList .heart, .adc-starratingList .tick, .adc-starratingList .thumb, .adc-starratingList .sun {
	display:block;
	width:50px;
	height:50px;
	float:left;
	margin-right:5px;
	cursor:pointer;
	/*position:relative;*/
}

.adc-starratingList .star {
	background:url('star.png') top no-repeat;
}
.adc-starratingList .star.selected, .adc-starratingList .star.hover {
	background:url('star.png') bottom no-repeat;
}
.adc-starratingList .heart {
	background:url('heart.png') top no-repeat;
}
.adc-starratingList .heart.selected, .adc-starratingList .heart.hover {
	background:url('heart.png') bottom no-repeat;
}
.adc-starratingList .tick {
	background:url('tick.png') top no-repeat;
}
.adc-starratingList .tick.selected, .adc-starratingList .tick.hover {
	background:url('tick.png') bottom no-repeat;
}
.adc-starratingList .thumb {
	background:url('thumb.png') top no-repeat;
}
.adc-starratingList .thumb.selected, .adc-starratingList .thumb.hover {
	background:url('thumb.png') bottom no-repeat;
}
.adc-starratingList .sun {
	background:url('sun.png') top no-repeat;
}
.adc-starratingList .sun.selected, .adc-starratingList .sun.hover {
	background:url('sun.png') bottom no-repeat;
}

.adc-starratingList .controlContainer { display:block; margin-bottom:10px; }
.adc-starratingList .starContainer { display:inline-block; /*overflow:hidden;*/ vertical-align:middle; margin-bottom:10px; }
.adc-starratingList .captionContainer { 
	float:left; 
	
	/* disable highlight text */
	-moz-user-select: none; 
	-webkit-user-select: none; 
	-ms-user-select:none; 
	user-select:none;
	
	vertical-align:middle;
}
.adc-starratingList .caption { margin-right:10px; line-height:1.2; }

.adc-starratingList .dk { 
	cursor:pointer;
	display:inline-block; 
	padding:10px; 
	margin-left:10px;
	vertical-align:middle;
    -moz-user-select: none; 
	-webkit-user-select: none; 
	-ms-user-select:none; 
	user-select:none;
}
.adc-starratingList .tooltip {
  position: relative;
}
.adc-starratingList .tooltip span {
  margin-left: -999em;
  position: absolute;
}
.adc-starratingList .tooltip:hover span {
  position: absolute;
  left: 1em;
  top: 2em;
  z-index: 99;
  margin-left: 0;
  width: auto;
}
.adc-starratingList .custom { padding: 0.5em 0.8em 0.8em 2em; }
/* .adc-starratingList a:hover { background: transparent; } */